!!!

%html
  %head
    %title Welcome
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '../style/main.css'}

  %body
    #content
      %h1 Welcome
      %p Have fun while coding.
      %ul
        %li 
          %a{:href => 'http://haml-lang.com/docs/yardoc/file.HAML_REFERENCE.html'} HAML Reference
        %li
          %a{:href => 'http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html'} SCSS Reference