* {
    font-family: sans-serif;
}

.date {
    font-size: 20%;
}

#content {
    margin: 0 auto;
    width: 200px;
    p {
        font-style: italic;
    }
    ul li {
        list-style: square;
    }
    a {
        text-decoration: none;
    }
}